*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.parent{
    height: 100vh;
    border: 20px solid rgb(0,0,0);
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-flow: column;
    background-color: cornsilk;
}
.child-1{
    width: 200px;
    height: 200px;
    background: salmon;

}
.child-2{
    width: 200px;
    height: 200px;
    background:seagreen;
    
}
.child-3{
    width: 200px;
    height: 200px;
    background:grey;
    
}